# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
pip-log.txt
pip-wheel-metadata/
*.egg-info/
dist/
build/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Env files
*.env

# Pytest
.cache
.pytest_cache
*.cover
coverage.xml
*.py,cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE or editor folders/files
.vscode/
